$main-background-color: #eceff1;

$shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

$rounded-lg: 0.5rem;

$main-color:#0E0D0E;
$unselected: #b6b6b6;

$main-btn-color: #d5d4d4;
$main-btn-color-hovered: #bababa;

// navbar
$nav-item-color-unselected: #b6b6b6;
$nav-item-color-selected: #0E0D0E;
$nav-item-brand-color: #0E0D0E;
$nav-item-border-bottom-color-selected:#0E0D0E;
