@import './global';
@import './variables';
// layouts
@import '../../layouts//navbar/navbar';
// components
@import '../../components//admin/login//login-form';
@import '../../components/admin/dashboard/dashboard';
@import '../../components/admin/dashboard/sidebar/sidebar';
@import '../../components//admin/dashboard/form/create-product/create-product-form';
@import '../../components/admin/dashboard/product/product-section';
@import '../../components/home/product/product';
@import '../../components/home/product/product-page';
@import '../../components/cart-items/cart-item-wrapper';
@import '../../components/cart-items/cart-item-page';
@import '../../components/common/order/orderWrapper';
@import '../../components//admin/dashboard/order/order-section';
@import '../../components/account/account-page';
@import '../../components/account/cards/info/account-info';
@import '../../components/account/cards/info/account-info-form';
@import '../../components/checkout/checkout-page';
@import '../../components//checkout/address/address-section';
@import '../../components/checkout/order-items/order-item-section';

// font
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  background: $main-background-color;
}

a {
  text-decoration: none;
}