.address-list {
    $self: &;

    padding: 2rem;

    &__plus-icon {
        float: right;
        cursor: pointer;
    }

    &__address-wrapper {
        margin-top: 1.5rem;

        display: flex;
        flex-direction: column;

        overflow: scroll;
        height: 220px;
    }
}