.order-section {
  $self: &;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  margin: 0 auto;

  &__heading {
    width: 90%;

    margin-top: 2rem;

    h1 {
      color: rgba(0, 0, 0, 0.755);
    }
  }

  &__orders {

    margin-top: 2rem;
    background: #fff;

    overflow: scroll;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    grid-auto-rows: minmax(350px, auto);

    height: 1000px;
  }
}
